{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 43.6589011,
    "longitude": 6.9239103,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Maison",
    "time_zone": "Europe/Paris",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "FR",
    "language": "fr",
    "radius": 100
  }
}